<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Wellington Rowing Clubs valiant effort to raise money for the upcoming rowing season while also raising awareness for mens mental health.">
    <meta name="author" content="">
    <title>WRC Calendars</title>

    <!-- CSS -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <!-- Custom Fonts -->
    <link href="css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- JQuery -->
    <script   src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>

    <!-- Theme CSS -->
    <link href="css/agency.css" rel="stylesheet">

</head>
<body id="page-top" class="index">

    <div class="hero-image">
      <div class="hero-text">
        <!-- <h1>I am John Doe</h1>
        <p>And I'm a Photographer</p>
        <button>Hire me</button> -->
    </div>
</div>


<!-- Contact Section -->
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About Us</h2>
                <h3 class="section-subheading text-muted">After the success of 2017, The Wellington Rowing Club’s very own Club Men are proud to announce the release of their 2018 calendar, which contains as much heart as it does cheek. Not only is this professional quality calendar guaranteed to put a smile the most sombre of faces, but it also provides you with the opportunity to get behind a fantastic cause. Like our rowing, we take the topic of mental health very seriously, and Mental Health Foundation of New Zealand are getting the work done on raising awareness around issues of mental health in kiwis, and creating an discrimination-free environment that we all benefit from. 10% of all profit will be donated this life-saving charity, which means you have a chance to make a difference. 
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <form name="sentMessage" id="contactForm" novalidate>
                    <div class="row">
                        <div class="col-lg-12 partition">

                            <div class="form-group">
                                <label class="section-subheading text-muted" for="calNum">Number of Calendars ($25ea) We will get in contact with you for payment details.</label>
                                <select class="form-control userInput" id="calNum">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                    <option>6</option>
                                    <option>7</option>
                                    <option>8</option>
                                    <option>9</option>
                                    <option>10</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="section-subheading text-muted" for="delOrPic">Delivery or Pickup (We will get in contact with you for convienient time.)</label>
                                <select class="form-control userInput" id="delOrPic">
                                    <option>Delivery</option>
                                    <option>Pick Up</option>                                
                                </select>
                            </div>
                            <input id="name" type="text" class="form-control userInput" placeholder="Your Name">
                            <input id="address" type="text" class="form-control userInput" placeholder="Your Address">
                            <input id="from" type="text" class="form-control userInput" placeholder="Your Email">                        
                            <input id="number" type="text" class="form-control userInput" placeholder="Contact Number" />
                            <button class="btn btn-default userInput" id="send_email">Send Email</button>
                            <h2 class="section-heading" id="message"></h2>
                        </div>
                        <script>
                            $(document).ready(function(){
                                var name,email,address,subject,text,number,calNum,plural;
                                $("#send_email").click(function(){
                                    name=$("#name").val();
                                    calNum=$("#calNum").val();
                                    address=$("#address").val();
                                    address = address.replace(/,/g, "|");
                                    email=$("#from").val();
                                    number=$("#number").val();
                                    delOrPic=$("#delOrPic").val();                                      

                                    plural = parseInt(calNum) < 2 ? " Calendar" : " Calendars";
                                    $("#message").text("Sending E-mail...Please wait");
                                    text = ("\n\nContact Email: " + email);
                                    text = (text + "\nContact Number: " + number);

                                    subject = (name + ": " + calNum + plural);
                                    $.get("https://wrc-fundraiser.herokuapp.com/send",{subject:subject,text:text,name:name,calNum:calNum,
                                        address:address,email:email,number:number,delOrPic:delOrPic},function(data){
                                                /*$.get("http://localhost:8080/send",{subject:subject,text:text,name:name,calNum:calNum,
                                                    address:address,email:email,number:number,delOrPic:delOrPic},function(data){*/
                                                        if(data=="sent")
                                                        {
                                                            $("#message").empty().html("Email has been sent. We will get back to you as soon as we can!");
                                                        }
                                                        else{
                                                            $("#message").empty().html("Sorry! There was a problem in sending your email please try again.");
                                                        }
                                                    });

                                });
                            });
                        </script>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<footer>
    <ul class="list-inline social-buttons">
        <span class="copyright">Developed by Samual Holmes with Bootstrap</span>
        <li title="LinkedIn"><a href="https://www.linkedin.com/in/samual-holmes-720a2713a" target="_blank"><i class="fa fa-linkedin"></i></a>
            <li title="GitHub"><a href="https://github.com/SKHolmes" target="_blank"><i class="fa fa-github"></i></a>
                <li title="CV"><a href="skholmes.github.io" target="_blank"><i class="fa fa-address-card"></i></a>
                </li>
            </ul>                    
        </footer>

        <!-- jQuery -->
        <script src="js/jquery.min.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="js/bootstrap.min.js"></script>

        <!-- Plugin JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js" integrity="sha384-mE6eXfrb8jxl0rzJDBRanYqgBxtJ6Unn4/1F7q4xRRyIw7Vdg9jP4ycT7x1iVsgb" crossorigin="anonymous"></script>

        <!-- Contact Form JavaScript -->
        <!--    <script src="js/jqBootstrapValidation.js"></script> -->

        <!-- Theme JavaScript -->
        <script src="js/agency.js"></script>

    </body>
    </html>